.txt{
  text-align: center;
}

.btn{
  display: block;
  margin: auto;
  width: 15rem;
  height: 1.75rem;
  background-color: rgb(255, 64, 64);
  color: white;
  margin-top: 15px;
  border-radius: 8px;
}